{% extends 'clientSite/base.html' %}
{% load static %}
{% block main %}
  <section class='about'>
    <img class='img-fluid'
         src="{% static 'images/about-top.jpg' %}"
         alt="about-top-image">
  </section>
  <section id="about-us" class="my-5 ">
    <div class="container border-bottom">
      <h1 class="text-center mb-5 header-text">ABOUT US</h1>
      <div class="row row-cols-md-2 row-cols-1 ">
        <div class="col">
          <p class="text-secondary">
            SMS (Social Motivation Service- SMS) started its activities from December 17,
            1992
            with its own resource in a community of JhenSMSah District under the leadership of the present Chief
            Executive. SMS, the idea came out from the compatible youthful pin-up to assist the poor students
            and others underprivileged. It is a non-political and human welfare oriented non-government
            organization (NGO) steadfast to contribute and promote national development through upgrading the
            socio-economic condition of the disadvantaged and under-privileged poor communities of the society.
            Since its inceptions, SMS is very committed, specific and sincere to bring the socio-economic uplift
            and establish the rights of the women and children of the society. Primarily, the SMS Activists
            started blood-donating and collecting money from the solvent people of the locality and old books
            from their children.
          </p>
          <p class="text-secondary">
            Thereafter, they distributed the money and the books among the poor and meritorious students. During
            this period, the SMS workers started to help the autistic boys and girls both financially and
            humanitarianly living within the jurisdiction of JhenSMSah Municipality and Porahati U.P of Sadar
            upazila. The SMS plant of the past with the passage of time of two era has today emerged as a huge
            banyan tree to give shadow to those sitting underneath and SMS has been continuous contributing
            effectively in the welfare of mankind and environment surrounding in mentionable part of the
            country.
          </p>
        </div>
        <div class="col ">
          <figure class="figure ">
            <img src="{% static 'images\about-sms.jpg' %}"
                 class="figure-img img-fluid rounded"
                 alt="...">
            <figcaption class="figure-caption">
              A caption for the above image.
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section id="story" class='my-5'>
    <div class="container border-bottom">
      <h1 class="text-center header-text mb-5">STORY</h1>
      <h2>history</h2>
      <p class="text-muted jsutify-paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid expedita
        modi esse. Perferendis necessitatibus pariatur deleniti quod odio enim
        magni ad, officia delectus velit molestiae sunt, quae optio incidunt. Quas
        blanditiis dolorum non. Quos, recusandae quibusdam perferendis atque id amet
        nisi placeat ratione ullam asperiores repellendus, hic eius necessitatibus
        velit! Delectus, at, praesentium voluptate saepe explicabo dolor nihil voluptates
        et consequatur ducimus ipsum, reprehenderit maiores rem debitis quo adipisci
        laborum sed sequi voluptatem odio culpa odit. Dicta maxime possimus molestias
        ut nemo iste, dolores modi, eaque accusantium voluptatem fugit voluptas officiis suscipit
        sapiente itaque? At esse corrupti atque commodi temporibus.
      </p>
      <div class="card border-0">
        <div class="card-body ">
          <blockquote class="blockquote mb-0">
            <p>
              A well-known quote, contained in a blockquote element.
            </p>
            <footer class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      <figure>
        <img class="img-fluid rounded"
             src="{% static 'images/story-1.jpg' %}"
             alt="">
        <figcaption class="figure-caption">
          Cpation for the above images
        </figcaption>
      </figure>
      <p class="text-muted justify-paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid expedita
        modi esse. Perferendis necessitatibus pariatur deleniti quod odio enim
        magni ad, officia delectus velit molestiae sunt, quae optio incidunt. Quas
        blanditiis dolorum non. Quos, recusandae quibusdam perferendis atque id amet
        nisi placeat ratione ullam asperiores repellendus, hic eius necessitatibus
        velit! Delectus, at, praesentium voluptate saepe explicabo dolor nihil voluptates
        et consequatur ducimus ipsum, reprehenderit maiores rem debitis quo adipisci
        laborum sed sequi voluptatem odio culpa odit. Dicta maxime possimus molestias
        ut nemo iste, dolores modi, eaque accusantium voluptatem fugit voluptas officiis suscipit
        sapiente itaque? At esse corrupti atque commodi temporibus.
      </p>
      <figure>
        <img src="{% static 'images/story-2.jpg' %}"
             class="img-fluid  rounded"
             alt="">
        <img src="{% static 'images/story-2.jpg' %}"
             class="img-fluid  rounded"
             alt="">
      </figure>
      <figcaption class="figure-caption">
        Caption for the above image
      </figcaption>
      <p class="justify-paragraph text-muted">
        Molestias nesciunt sequi dignissimos, illo laboriosam deserunt. Mollitia
        distinctio
        at ipsam expedita, quo
        explicabo impedit optio! Et quam at impedit, fugiat. Repudiandae dolore, nemo saepe molestiae optio earum
        ratione a ipsum voluptatum. Nam et aperiam consequatur odit laudantium labore itaque nihil veritatis
        repellat distinctio officiis quod pariatur possimus facilis quia, eum, voluptas sint quasi dignissimos
        aliquid illum a dicta optio.
      </p>
    </div>
  </section>
  <section id="mission-vission" class='my-5'>
    <div class="container border-bottom">
      <h1 class="text-center header-text ">MISSION & VISION</h1>
      <div class="row row-cols-lg-3 row-cols-1">
        <div class="col">
          <h2 class="header-border my-3">Mission</h2>
          <p class="text-secondary">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
            the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
            Vission
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
            the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
        </div>
        <div class="col vision-border">
          <h2 class="header-border my-3">Vision</h2>
          <p class="text-secondary">
            Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia, there live
            the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
            Vission
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
            the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
        </div>
        <div class="col">
          <img src="{% static 'images/story-2.jpg' %}"
               class="img-fluid img-translate"
               alt="">
        </div>
      </div>
    </div>
  </section>

  {% comment %} Founder {% endcomment %}

  <section id='founder' class="my-5">
    <div class="container border-bottom">
      <h1 class="text-center header-text mb-5">FOUNDERS</h1>
      <div class="py-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% if founder_list %}
            {% for f in founder_list %}
            <div class="col">
              <div class="card h-100">
                <img src="{{f.image.url}}"
                     class="card-img-top"
                     alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase">{{f.first_name}} {{f.last_name}}</h5>
                  <p class="card-text">
                    <small class="text-uppercase">{{f.designation}}</small>
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
          
          
  </section>

  {% comment %} volunteers {% endcomment %}

  <section id="volunteer" class='my-5'>
    <div class="conteiner-fluid border-bottom">
      <h1 class='header-text text-center py-5'>VOLUNTEERS</h1>
      <div class="py-5">
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
          {% if voluntieer_list %}
          {% for v in voluntieer_list %}
          <div class="col">
            <div class="card h-100">
              <img src="{{v.image.url}}" 
                   class="card-img-top volunteer-img">
              <div class="card-body text-center">
                <h5 class="card-title text-uppercase">{{v.first_name}}{{v.last_name}}</h5>
                <p class="card-text volunteer">
                  volunteers.
                </p>
                <div class="card-text">
                  <a class="icon-color me-2" href="{{v.facebook}}"><i class="bi bi-facebook"></i></a>
                  <a class="icon-color me-2" href="{{v.email}}"><i class="bi bi-envelope-fill"></i></a>
                  <a class="icon-color" href="{{v.linkedin}}"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </section>


  


{% endblock main %}
