{% extends 'clientSite/base.html' %}
{% load static %}
{% block main %}


<section id="donor-projects" class="container-fluid">
      <div class="border-bottom">
          <h1 class="text-center mb-5 header-text">DONOR PROJECTS</h1>
          <div class="table-wrapper mx-auto mb-5">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Year</th>
                          <th scope="col">Projects</th>
                          <th scope="col">Donors</th>
  
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1981-1992</td>
                          <td>Al-Falah Model Clinic</td>
                          <td>Local Well Wishers ODA, UK</td>
                      </tr>
                      <tr>
                          <td>1992-2000</td>
                          <td>Al-Falah Model Clinic</td>
                          <td>Bangladesh Population Health Consortium (BPHC)</td>
  
                      </tr>
                      <tr>
                          <td>1994-1995</td>
                          <td>Women Development Program</td>
                          <td>Australian High Commission, Dhaka</td>
  
                      </tr>
                      <tr>
                          <td>1996-2002</td>
                          <td>STD/AIDS Prevention Program</td>
                          <td>HIV/AIDS & STI Alliance, Bangladesh (HASAB)</td>
  
                      </tr>
                      <tr>
                          <td>2004-2006</td>
                          <td>STD/AIDS Prevention Program</td>
                          <td>UNICEF, Dhaka</td>
  
                      </tr>
                      <tr>
                          <td>2004-2006</td>
                          <td>Mobilizing Human Rights Support for the Bihari
                              Community in Bangladesh</td>
                          <td>Manusher Jonno Foundation (MJF)</td>
  
                      </tr>
                      <tr>
                          <td>Content 7</td>
                          <td>Content 7</td>
                          <td>Content 7</td>
  
                      </tr>
                      <tr>
                          <td>Content 8</td>
                          <td>Content 8</td>
                          <td>Content 8</td>
  
                      </tr>
                      <tr>
                          <td>Content 9</td>
                          <td>Content 9</td>
                          <td>Content 9</td>
  
                      </tr>
                      <tr>
                          <td>Content 10</td>
                          <td>Content 10</td>
                          <td>Content 10</td>
  
                      </tr>
                  <tbody>
              </table>
  
          </div>
  
  
      </div>
  
  
  
  </section>
  
  <section id="partnership-projects">
      <div class="container-fluid border-bottom">
          <h1 class="text-center mb-5 header-text py-4">PARTNERSHIP PROJECTS</h1>
  
  
          <div class="table-wrapper mx-auto mb-5">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Year</th>
                          <th scope="col">Projects</th>
                          <th scope="col">Donors</th>
  
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1981-1992</td>
                          <td>Al-Falah Model Clinic</td>
                          <td>Local Well Wishers ODA, UK</td>
                      </tr>
                      <tr>
                          <td>1992-2000</td>
                          <td>Al-Falah Model Clinic</td>
                          <td>Bangladesh Population Health Consortium (BPHC)</td>
  
                      </tr>
                      <tr>
                          <td>1994-1995</td>
                          <td>Women Development Program</td>
                          <td>Australian High Commission, Dhaka</td>
  
                      </tr>
                      <tr>
                          <td>1996-2002</td>
                          <td>STD/AIDS Prevention Program</td>
                          <td>HIV/AIDS & STI Alliance, Bangladesh (HASAB)</td>
  
                      </tr>
                      <tr>
                          <td>2004-2006</td>
                          <td>STD/AIDS Prevention Program</td>
                          <td>UNICEF, Dhaka</td>
  
                      </tr>
                      <tr>
                          <td>2004-2006</td>
                          <td>Mobilizing Human Rights Support for the Bihari
                              Community in Bangladesh</td>
                          <td>Manusher Jonno Foundation (MJF)</td>
  
                      </tr>
                      <tr>
                          <td>Content 7</td>
                          <td>Content 7</td>
                          <td>Content 7</td>
  
                      </tr>
                      <tr>
                          <td>Content 8</td>
                          <td>Content 8</td>
                          <td>Content 8</td>
  
                      </tr>
                      <tr>
                          <td>Content 9</td>
                          <td>Content 9</td>
                          <td>Content 9</td>
  
                      </tr>
                      <tr>
                          <td>Content 10</td>
                          <td>Content 10</td>
                          <td>Content 10</td>
  
                      </tr>
                  <tbody>
              </table>
  
          </div>
  
  
      </div>
  
  
  
  </section>

{% endblock main %}
