{% extends 'clientSite/base.html' %}
{% load static %}
{% block main %}


<section id="donor-projects" class="container-fluid">
      <div class="border-bottom">
          <h1 class="text-center mb-5 header-text">DONOR PROJECTS</h1>
          <div class="table-wrapper mx-auto mb-5">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Year</th>
                          <th scope="col">Projects</th>
                          <th scope="col">Donors</th>
  
                      </tr>
                  </thead>
                  <tbody>
                    {% if donor_project %}
                        {% for donor in donor_project %}
                        <tr>
                            <td>{{donor.start_date |date:"Y"}}- {% if donor.end_date %}
                                {{donor.end_date |date:"Y"}}
                                {% else %} <span>Ongoing</span>
                                {% endif %} </td>
                            <td>{{donor.title}}</td>
                            <td>{{donor.donor_partner}}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}

                      
                      
                  <tbody>
              </table>
  
          </div>
  
  
      </div>
  
  
  
  </section>
  
  <section id="partnership-projects">
      <div class="container-fluid border-bottom">
          <h1 class="text-center mb-5 header-text py-4">PARTNERSHIP PROJECTS</h1>
  
  
          <div class="table-wrapper mx-auto mb-5">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Year</th>
                          <th scope="col">Projects</th>
                          <th scope="col">Donors</th>
  
                      </tr>
                  </thead>
                  <tbody>
                    {% if pratner_project %}
                    {% for partner in pratner_project %}
                    <tr>
                        <td>{{partner.start_date |date:"Y"}}- {% if partner.end_date %}
                            {{partner.end_date |date:"Y"}}
                            {% else %} <span>Ongoing</span>
                            {% endif %} </td>
                        <td>{{partner.title}}</td>
                        <td>{{partner.donor_partner}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                      
                  <tbody>
              </table>
  
          </div>
  
  
      </div>
  
  
  
  </section>

{% endblock main %}
