{% extends 'clientSite\base.html' %}
{% load static %}
{% block title %}
      Home
{% endblock title %}
{% block main %}
      <header id='header'>
      </header>
      <section id='home'>
            <div id="home-about" class="container-fluid">
                  <div class="row row-cols-md-2 row-cols-1">
                        <div class="col ">
                              <div class="about-left shadow">
                                    <h2 class="h3">Total Projects</h2>
                                    <h5 class="display-3">
                                          1,232,1544
                                    </h3>
                                    <h4 class="h4 shadow">
                                          On Going Projects
                                    </h3>
                                    <p class="h5 ">
                                          1,25774
                                    </p>
                                    <h4 class="h4 shadow">
                                          Complete Projects
                                    </h3>
                                    <p class="h5  ">
                                          1,25774
                                    </p>
                                    <button class="btn border-0 mt-5 shadow ">SHOW ALL PROJECTS</button>
                              </div>
                        </div>
                        <div class="col">
                              <div class="about-right">
                                    <h2 class="display-5 home-title">Who Are You?</h2>
                                    <p class="mb-3">
                                          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                          there live
                                          the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                                          language ocean.
                                    </p>
                                    <p class="mb-5">
                                          <small>A small river named Duden flows by their place and supplies it with the
                                                necessary
                                          regelialia.</small>
                                    </p>
                                    <button class='btn shadow'>Show More</button>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="container my-5" id="home-event">
                  <h1 class="text-center my-5 home-title home-header-text">UPCOMING EVENT</h1>
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                              <div class="card h-100 border-0 shadow-lg">
                                    <img src="{% static 'images/gaas.jpg' %}" class="card-img-top" alt="...">
                                    <div class="card-body row d-flex align-items-center">
                                          <div class="col-md-3 ">
                                                <div class="text-center evnt-date shadow ">
                                                      <h1>18</h1>
                                                      <p>
                                                            JAN
                                                      </p>
                                                </div>
                                          </div>
                                          <div class="col-md-9">
                                                <h5 class="card-title home-title">EXPLORING THE CHRISTIAN FAITH</h5>
                                                <p class="card-text  ">
                                                      <i class="evnt-logo bi bi-calendar-event "></i> <small> <em class="text-secondary ">08:00 AM - 11:00 AM</em> </small>
                                                </p>
                                                <p class="card-text ">
                                                      <i class="evnt-logo bi bi-geo-alt "></i> <small> <em class="text-secondary ">
                                                1195 Lobortis Rd, New Orleans, New
                                          Hampshire </em></small>
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col">
                  <div class="card h-100 border-0 shadow-lg">
                        <img src="{% static 'images/meet.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body row d-flex align-items-center">
                              <div class="col-md-3 ">
                                    <div class="text-center evnt-date shadow ">
                                          <h1>18</h1>
                                          <p>
                                                MAR
                                          </p>
                                    </div>
                              </div>
                              <div class="col-md-9">
                                    <h5 class="card-title home-title">EXPLORING THE CHRISTIAN FAITH</h5>
                                    <p class="card-text  ">
                                          <i class="evnt-logo bi bi-calendar-event"></i> <small> <em class="text-secondary ">08:00 AM - 11:00 AM</em> </small>
                                    </p>
                                    <p class="card-text ">
                                          <i class="evnt-logo bi bi-geo-alt"></i> <small> <em class="text-secondary ">
                                    1195 Lobortis Rd, New Orleans, New
                              Hampshire </em></small>
                        </p>
                  </div>
            </div>
      </div>
</div>
<div class="col">
      <div class="card h-100 border-0 shadow-lg">
            <img src="{% static 'images/gaas.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body row d-flex align-items-center">
                  <div class="col-md-3 ">
                        <div class="text-center evnt-date shadow  ">
                              <h1>18</h1>
                              <p>
                                    APR
                              </p>
                        </div>
                  </div>
                  <div class="col-md-9">
                        <h5 class="card-title home-title">EXPLORING THE CHRISTIAN FAITH</h5>
                        <p class="card-text  ">
                              <i class="evnt-logo bi bi-calendar-event"></i> <small> <em class="text-secondary ">08:00 AM - 11:00 AM</em> </small>
                        </p>
                        <p class="card-text ">
                              <i class="evnt-logo bi bi-geo-alt"></i> <small> <em class="text-secondary ">
                        1195 Lobortis Rd, New Orleans, New
                  Hampshire </em></small>
            </p>
      </div>
</div>
</div>
</div>
</div>
</div>

 {% comment %} Projects  {% endcomment %}

 <div id="home-projects" class="container mt-5">
      <h1 class="home-header-text my-5 text-center home-title">ONGOING PROJECTS</h1>
      <div class="row row-cols-1 row-cols-md-2 g-4 my-5">
            <div class="col-md-6">
                  <div class="card mb-3 border-0 shadow-lg" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static 'images/meet.jpg'%}" class="img-fluid rounded-start h-100" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title home-title">ART AND CULTURE PROJECTS</h5>
                              <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text  "><a href="" class="project-button shadow">Show Details</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
            
            </div>
            <div class="col-md-6">
                  <div class="card mb-3 border-0 shadow-lg" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static 'images/gaas.jpg'%}" class="img-fluid rounded-start h-100" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title home-title">AID LPG PROJECTS</h5>
                              <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><a href="" class="project-button shadow">Show Details</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
             </div>
      </div>

      
      <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-md-6">
                  <div class="card mb-3 border-0 shadow-lg" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static 'images/meet.jpg'%}" class="img-fluid rounded-start h-100" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title home-title">SOCIAL WORK PROJECTS</h5>
                              <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><a href="" class="project-button shadow">Show Details</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
            
            </div>
            <div class="col-md-6">
                  <div class="card mb-3 border-0 shadow-lg" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static 'images/saap.jpg'%}" class="img-fluid rounded-start h-100" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title home-title">SAP PROJECTS</h5>
                              <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><a href="" class="project-button shadow">Show Details</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
             </div>
      </div>

      


          


  </div>


  {% comment %} News section {% endcomment %}

  <div id="home-news" class="container my-5">
      <h1 class="home-header-text text-center home-title">NEWS</h1>

      <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
            <div class="col mt-5">
              <div class="card border-0 shadow">
                <img src="{% static 'images/meet.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body ">
                  <h5 class="card-title"><a href="" class="home-title">Promotion of Sustainable Agriculture Practice (SAP) with Less Irrigation Water</a></h5>
                  <p class="card-text text-muted">We would like to convey our heartiest gratitude to Ministry of Foreign Affairs (MoFA) Japan, Asia Arsenic Network (AAN) & Share the Planet Association (SPA) Japan for supporting us financially and technically with the PSAP. Farmers are benefitted by soil test based fertilizer management and able to reduce fertilizer cost.</p>
                </div>
              </div>
            </div>
            <div class="col mt-5">
              <div class="card border-0 shadow">
                <img src="{% static 'images/gaas.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="" class="home-title">Promotion of Sustainable Agriculture Practice (SAP) with Less Irrigation Water</a></h5>
                  <p class="card-text text-muted">We would like to convey our heartiest gratitude to Ministry of Foreign Affairs (MoFA) Japan, Asia Arsenic Network (AAN) & Share the Planet Association (SPA) Japan for supporting us financially and technically with the PSAP. Farmers are benefitted by soil test based fertilizer management and able to reduce fertilizer cost.</p>
                </div>
              </div>
            </div>
            <div class="col mt-5">
              <div class="card border-0 shadow">
                <img src="{% static 'images/gaas.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="" class="home-title">Promotion of Sustainable Agriculture Practice (SAP) with Less Irrigation Water</a></h5>
                  <p class="card-text text-muted">We would like to convey our heartiest gratitude to Ministry of Foreign Affairs (MoFA) Japan, Asia Arsenic Network (AAN) & Share the Planet Association (SPA) Japan for supporting us financially and technically with the PSAP. Farmers are benefitted by soil test based fertilizer management and able to reduce fertilizer cost.</p>
                </div>
              </div>
            </div>
            <div class="col mt-5">
              <div class="card border-0 shadow">
                <img src="{% static 'images/meet.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="" class="home-title">Promotion of Sustainable Agriculture Practice (SAP) with Less Irrigation Water</a></h5>
                  <p class="card-text text-muted">We would like to convey our heartiest gratitude to Ministry of Foreign Affairs (MoFA) Japan, Asia Arsenic Network (AAN) & Share the Planet Association (SPA) Japan for supporting us financially and technically with the PSAP. Farmers are benefitted by soil test based fertilizer management and able to reduce fertilizer cost.</p>
                </div>
              </div>
            </div>
          </div>
  </div>




   <!-- GALLERY -->
  

</section>
{% endblock main %}
