#header::before{
      content: "";
      background-image:  url('../images/cover.jpg');
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;    
      height: 500px;
      width: 100%;
      /* background-repeat: no-repeat; */
      background-position: center center;
      /* background-attachment: fixed; */
      background-size: cover;
      
  }
  #header{
      height: 400px;
  }
  
  .my-navbar::before{
      content: "";
      background-color: rgba(0, 0, 0, 0.62);
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      height: 100%;
      width: 100%;
}
.nav-link{
      color:white !important;
      padding: 10px;
      /* margin-bottom:px; */
}
.navbar{
      z-index: 1;    
  }
.nav-link:hover{
      color:  white;
      border-bottom: 2px solid rgb(233, 5, 5);
      
  }
.navbar-brand{
      text-align: center;
      font-family: 'Montserrat Subrayada', sans-serif;
      font-weight: 800;
      color: #35373a;
      line-height: 40px !important;
      font-size: 2rem;
  }


/* ABOUT PAGE */

  .about{
      width:100%;
      height:auto;
  }

  .about img{
      width: 100%;
      background-position: center center;
      background-size: cover;
  }
  @media only screen and (max-width:992px){
      .about img{
            position: absolute;
            top: 123px;
            left: 0;
            z-index: -1;
      }
  }

.header-text{
    color: #00ADB5;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}
#about-us, .justify-paragraph{
    text-align: justify;
    
}


.header-border{
    border-bottom: 6px solid darkblue;
    border-radius: 15px;
}
.vision-border{
    border-left: 6px solid;
    border-image-source: linear-gradient(to top, tomato, black);
    border-image-slice: 1;
    border-width: 5px;
}
.img-translate{
    transition: transform 1s;
}
.img-translate:hover{
    transform: translate(0px,50px);
}


/* volunteer */

.icon-color , .volunteer{
    color: #ab8cf2;
    text-decoration: none;
}
.icon-color:hover{
    color: white;
} 
   .volunteer-img{
    width: 60% !important;
    height: 80% !important;
    border-radius: 50% !important;
    position: relative;
    left:18%;
    top:-75px;
    border: 5px solid silver ;
   }
   #volunteer{
    background-color: silver;
    padding-top: 20px;
   }
   #volunteer .card:hover{
    background-color: #03181a;
    color:#EEEEEE ;
}


/* DONOR AND PROJECTS PAGE  */

#donor-projects, #img-gallery {
    margin-top: 120px ;
    width:100% !important;   
}
#donor-projects h1{
     
    text-transform: uppercase;
    /* letter-spacing: 1px;     */
    /* padding: 30px 0; */
}
#donor-partner-sidebar{
    margin-top: 120px !important ;
}

/* Table Styles */

.table-wrapper{
    -webkit-font-smoothing: antialiased;
    width:80%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.year-width{
    width:20% !important;
}


.table td, .table th {    
    padding: 8px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .table {
        display: block;
        width: 100%;
    }
    .year-width{
        width:100% !important;
    }

    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .table thead, .table tbody, .table thead th {
        display: block;
    }
    .table thead th:last-child{
        border-bottom: none;
    }
    .table thead {
        float: left;
    }
    .table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .table td, .table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .table tbody tr {
        display: table-cell;
    }
    .table tbody tr:nth-child(odd) {
        background: none;
    }
    .table tr:nth-child(even) {
        background: transparent;
    }
    .table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .table tbody td {
        display: block;
        text-align: center;
    }
}


/* contatct page */
#contact-sms{
    font-family:"Open Sans", Arial, sans-serif;
}
#contact-top{
    width: 100%;
    height: auto;
}

#contact-top img{
    width: 100%;
    height: auto;
}
.contact-mail a{
    color:white;
    text-decoration: none;
}
.contact-mail a:hover{
    color:#03181a;
}


/* NEWS PAGES */

/* #news {
    margin-top: 125px ;
    width:100% !important;   
} */
#carouselExampleDark{
    width:100%;    
}
#carouselExampleDark img{
    height: 50vh;
    
    filter: brightness(70%);
    
}
.card-body a{
    text-decoration: none;
}
.card-body a:hover{
    color: #dc3545;
}

/* projects */


.project-header{
    color: rgb(14, 14, 240);
    padding:0.2rem;
    padding-left: 1.5rem;
    background-color: rgb(166, 168, 163);   
}

/* image and video gallary */

#vdo-gallery {
    margin-top: 20px ;
    width:100% !important;   
}
#vdo-gallery h1{
    color: #dc3545;
    border-bottom: 2px solid #dc3545;
    text-transform: uppercase;
    letter-spacing: 1px;    
    padding: 30px 0;
}



  

