#header::before{
      content: "";
      background-image:  url('../images/cover.jpg');
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;    
      height: 600px;
      width: 100%;
      /* background-repeat: no-repeat; */
      background-position: center center;
      /* background-attachment: fixed; */
      background-size: cover;
      
  }
  #header{
      height: 600px;
  }
  
  .my-navbar::before{
      content: "";
      background-color: #F7CA44;
      position: absolute;
      top: 0px;
      left: 0px;
      
      z-index: -1;
      height: 100%;
      width: 100%;
}
.nav-link{
      color:white !important;
      padding: 10px;
      /* margin-bottom:px; */
}
.navbar{
      z-index: 1;    
  }

.nav-link:hover{
      color:  white;
      border-bottom: 2px solid rgb(233, 5, 5);
      
  }
.navbar-brand{
      text-align: center;
      font-family: 'Montserrat Subrayada', sans-serif;
      font-weight: 800;
      color: #35373a;
      line-height: 40px !important;
      font-size: 2rem;
  }




  @media only screen and (max-width: 500px) {
    .navbar-brand{
        
        font-size: 1.0rem;
    }
}
@media only screen and (max-width: 577px) {
    #about-top img{
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-collapse{
        padding: 10px;
       background-color: rgba(0, 0, 0, 0.09);
    }
    .nav-link, .dropdown-item{
        color: white;
    }
    .nav-link:focus, .nav-link:hover{
        color: white;
    }
    .dropdown-menu{
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.097);
    }
    

    .navbar-nav{
         --bs-nav-link-hover-color:silver;       
         
    }
    .dropdown-menu{
        --bs-dropdown-link-active-bg:rgb(7, 7, 7);
    }
    #volunteers .col{
        margin-bottom: 100px;
    }
}
.navbar-nav{
    --bs-nav-link-hover-color:silver;       
    
}
.dropdown-menu{
   --bs-dropdown-link-active-bg:rgb(7, 7, 7);
}


/* ABOUT PAGE */

  .about{
      width:100%;
      height:auto;
  }

  .about img{
      width: 100%;
      background-position: center center;
      background-size: cover;
  }
  @media only screen and (max-width:992px){
      .about img{
            position: absolute;
            top: 123px;
            left: 0;
            z-index: -1;
      }
     
  }

.header-text{
    color: #F7CA44;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}
#about-us, .justify-paragraph{
    text-align: justify;
    
}


.header-border{
    border-bottom: 6px solid #F7CA44;
    border-radius: 15px;
}
.vision-border{
    border-left: 6px solid;
    border-image-source: linear-gradient(to top, tomato, black);
    border-image-slice: 1;
    border-width: 5px;
}
.img-translate{
    transition: transform 1s;
}
.img-translate:hover{
    transform: translate(0px,50px);
}


/* volunteer */

.icon-color , .volunteer{
    color: #ab8cf2;
    text-decoration: none;
}
.icon-color:hover{
    color: white;
} 
   .volunteer-img{
    width: 60% !important;
    height: 80% !important;
    border-radius: 50% !important;
    position: relative;
    left:18%;
    top:-75px;
    border: 5px solid silver ;
   }
   #volunteer{
    background-color: silver;
    padding-top: 20px;
   }
   #volunteer .card:hover{
    background-color: #F7CA44;
    color:#EEEEEE ;
}


/* DONOR AND PROJECTS PAGE  */

#donor-projects, #img-gallery {
    margin-top: 120px ;
    width:100% !important;   
}
#donor-projects h1{
     
    text-transform: uppercase;
    /* letter-spacing: 1px;     */
    /* padding: 30px 0; */
}
#donor-partner-sidebar{
    margin-top: 120px !important ;
}

/* Table Styles */

.table-wrapper{
    -webkit-font-smoothing: antialiased;
    width:80%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.year-width{
    width:20% !important;
}


.table td, .table th {    
    padding: 8px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .table {
        display: block;
        width: 100%;
    }
    .year-width{
        width:100% !important;
    }

    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .table thead, .table tbody, .table thead th {
        display: block;
    }
    .table thead th:last-child{
        border-bottom: none;
    }
    .table thead {
        float: left;
    }
    .table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .table td, .table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .table tbody tr {
        display: table-cell;
    }
    .table tbody tr:nth-child(odd) {
        background: none;
    }
    .table tr:nth-child(even) {
        background: transparent;
    }
    .table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .table tbody td {
        display: block;
        text-align: center;
    }
}


/* contatct page */
#contact-sms{
    font-family:"Open Sans", Arial, sans-serif;
}
#contact-top{
    width: 100%;
    height: auto;
}

#contact-top img{
    width: 100%;
    height: auto;
}
.contact-mail a{
    color:white;
    text-decoration: none;
}
.contact-mail a:hover{
    color:#03181a;
}


/* NEWS PAGES */

/* #news {
    margin-top: 125px ;
    width:100% !important;   
} */
#carouselExampleDark{
    width:100%;    
}
#carouselExampleDark img{
    height: 50vh;
    
    filter: brightness(70%);
    
}
.card-body a{
    text-decoration: none;
}
.card-body a:hover{
    color: #dc3545;
}

/* projects */


.project-header{
    color: rgb(240, 214, 14);
    padding:0.2rem;
    margin-top: 300px;
    padding-left: 1.5rem;
    background-color: rgb(166, 168, 163);   
}

/* image and video gallary */

#vdo-gallery {
    margin-top: 150px ;
    width:100% !important;   
}
#vdo-gallery h1{
    color: #dc3545;
    border-bottom: 2px solid #dc3545;
    text-transform: uppercase;
    letter-spacing: 1px;    
    padding: 30px 0;
}


/* home page */
#home-about{
    margin-top: 60px;
}

 .about-left{
    background-color: #F7CA44;
    color:black;
    margin:0 auto;
    padding: 50px;
    max-width: 500px;
    min-height: auto;
} 
.about-left h4{
    background:white;
    padding: 5px 4px;
    width: 60%;
    text-align:center;
}
.about-left p{
    letter-spacing: 2px;
    font-weight: 700;
}
.about-left button{
    background-color: white;
    color:black;
    letter-spacing: 2px;
    border-radius: 0px;
}
.about-left button:hover {
    background-color: black;
    color:white;
    
}
.home-title{
    color: #F7CA44;
    margin-bottom: 30px;
   
}
.about-right button{
    background-color:#F7CA44;
    color:white;
    letter-spacing:2px;
}
.about-right button:hover{
    background-color: black;
    color:white;
}

/* EVENT HOME PAGE  */
.home-header-text{
    border-bottom: 2px solid #F7CA44;
}
.evnt-date{
    background-color: #F7CA44;
    padding: 2px;
    color: white;
    font-size: 1rem;
    align-items: center;
}
.evnt-logo{
    color: #F7CA44;
    margin-right: 5px;
}

/* PROJECTS */

#home-projects .project-button{
  
   background-color: #F7CA44;
   color:white;
   padding: 4px 8px;
   border-radius: 2px;
   
}
#home-projects .project-button:hover{
    color:#F7CA44;
    background-color:black;
    
}

/* gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
  }
  
  /* .gallery h2 {
    flex-basis: 100%;
    text-align: center;
    margin: 50px auto 30px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #111;
  } */
  .gallery-card {
    width: 25%;
    overflow: hidden;
    position: relative;
  }
  .gallery-card .content {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -100px;
    transition: all 0.7s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100px;
    background: #111;
  }
  .gallery-card .image {
    z-index: 1;
    height: 100%;
  }
  .gallery-card img {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    transform: scale(1.2);
  }
  
  .gallery-card:hover .content {
    bottom: 0px;
    color: #fff;
  }
  
  .gallery-card:hover .image img {
    transform: scale(1);
  }
  
  .gallery-card .content span:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
  
  .gallery-card .content span:last-child {
    font-size: 14px;
   
    color: #F7CA44;
    text-align: center;
    font-weight: 700;
  }
  #home-news{
    padding-bottom: 50px;
    
  }

  .home-bottom-hr{
    width:50%;  

    border: 0;
    border-radius: 10px;
    height: 10px;
    /* Set the hr color */
    color: #F7CA44; /* old IE */
    background-color: #F7CA44; /* Modern Browsers */
    
    
  }
  
  
  @media screen and (max-width: 768px) {
    .gallery-card {
    width: 50%;
    }
    .gallery-card .content {
      bottom: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .gallery-card {
    width: 100%;
    }
  }
  
  /* IMG-GALLERY */

  
.img-gallery > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
  
  .img-gallery > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 16px var(--shadow);
  }
  
  .img-gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
  }
  
  .horizontal {
    grid-column: span 2;
  }
  
  .vertical {
    grid-row: span 2;
  }
  
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }



/* Gallary */

.iamge-new{
    margin-top: 200px;
}


